<html>
    <head>
      <%- include('./partial/_bootstrap_lib.ejs')%>     
      <link rel="stylesheet" href="/css/style.css"/>
      <style>
          
      </style>
    </head>
    <body>
      <%- include('./partial/_navigation.ejs')%>
      <div class="container mt-4">
          <div class="row">
              <div class="col-12 banner">
 
              </div>
          </div>
          <div class="row">
            <div class="col-12">
               <h1>About us</h1>
            </div>
            <div>
                <p>The Senate is composed of senators, each of whom represents a single state in its entirety. Each state is equally represented by two senators who serve staggered terms of six years. There are currently 100 senators representing the 50 states. ... The Senate conducts trials of those impeached by the House.</p>
            </div>
          </div>
      </div>
    </body>
</html>