<html>
    <head>
      <%- include('./partial/_bootstrap_lib.ejs')%>     
      <link rel="stylesheet" href="/css/style.css"/>
      <style>
          
      </style>
    </head>
    <body>
      <%- include('./partial/_navigation.ejs')%>
      <div class="container mt-4">
          <div class="row">
              <div class="col-12 banner">
            
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <p> Education Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Inventore voluptatibus qui dolore minus quod aspernatur odio distinctio ex cupiditate, quas aut, ipsa saepe eligendi labore quis, eveniet sit id? Aut autem sit minus sapiente. Quidem delectus deserunt incidunt optio distinctio praesentium dolorum voluptatibus quae quos esse aliquid sit provident tempora commodi, necessitatibus dignissimos veritatis reprehenderit sed? Quasi accusantium quis natus ullam reprehenderit voluptatem soluta ex ab, nesciunt ducimus harum voluptatum vitae sed eligendi, architecto mollitia enim nihil. Placeat ipsam, exercitationem impedit,</p><br> aut quod soluta rem minus maxime quidem quos tenetur culpa amet, molestiae pariatur officiis sint totam eligendi eum consectetur ut! Sequi, eum perferendis magni ullam voluptate exercitationem eligendi modi nobis. Quas recusandae magni nulla voluptates soluta animi a. Odit autem, ipsa ab omnis magni mollitia commodi aperiam beatae et expedita quam nesciunt velit fugiat ullam qui excepturi tenetur voluptates officiis dolorem odio. Facilis non, accusamus earum ipsum enim ab recusandae dolorem nam ratione aliquid at cumque temporibus modi perferendis, molestiae magnam molestias tempore placeat eaque soluta illum fugiat laudantium reiciendis. Dolor facilis molestiae deserunt,</br> sapiente consequuntur quod! Explicabo tempora fuga dignissimos at asperiores voluptates omnis deserunt architecto reprehenderit ut, excepturi ratione animi adipisci consequatur, voluptatibus ipsum natus, accusantium quis?</p>
            </div>
          </div>
      </div>
    </body>
</html>